<h1>Welcome</h1>
<h3>To the Task List Manager</h3>


<form action="Contact">
    <input name="email" type="email" placeholder="email@email.com" />
    <input name="password" type="password" placeholder="Password" />
    <button type="submit">Log In</button>
</form>
<br /><br />

@Html.ActionLink("Register as a New User", "Create", "Users") 
